<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  
  <div id="app">
  <h1>
    Mis Cursos de Platzi💚
  </h1>
    <p>
      <input v-model="course.title"type="text"placeholder="Titulo del curso"/>
    </p>
    <p>
      <inpu tv-model="course.time"type="number"placeholder="Horas"/>
    </p>
    <p>
      <button v-on:click="addCourse">Guardar Curso</button>
    </p>
  </fieldset>
  <div>
    <h3>Lista de Cursos</h3>
    <p class="red">Aun no has realizado cursos</p>
    <div>
      <ol>
        <!-- Lista de cursos -->
        <li v-for="(course, index) in courses">
          Curso: {{course.title}} / Horas: {{course.time}}
          </li>
      </ol>
      <hr/>
      <p>
        Llevo <strong>{{ totalTime }}</strong> horas aprendiendo en Platzi.
        <b>#NuncaParesDeAprender 💚</b>
      </p>
    </div>
  </div>
</div>
<script src="app.js"></script>
</body>
</html>